
<div id = "body1">
    <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
 
    <div class = "content" >  
    <h1 style="text-align: center; color: white;">Take our <span style="color: thistle;">Survey</span></h1>
     
    <div class = "row">
        
    
        <div class = "col" style="margin-left: 10%;">
        <p>Personal Details</p>
        <label for="name">Surname</label>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
        <input id="inp" type="text" name="surname" ngModel  placeholder="surname" required><br><br>

        <label for="surname">First Name</label>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
        <input id="inp" type="text" name="name" ngModel placeholder="name" required><br><br>

        <label for="contactNo">Contact Number</label>
        <input  id="inp" placeholder="Contact number" type="tel" name="contact" ngModel  minlength="10" maxlength="10" required ><br><br>

        <label for="Age">Age </label>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <input  id="inp"type="number" name="age" ngModel placeholder="age" required><br><br>

        <label for="Date">Date</label>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <input id="inp" type="date" name="date" ngModel  required><br><br>
        </div>
    
     <br>
     
     <div class="col" style="margin-left: 0%;">
     <p >What is your favourite food? (You can choose more than 1 answer )</p>
    
        <input  type="checkbox" value="Pizza" name="Pizza" ngModel > Pizza<br> 
        <input  type="checkbox" value="Pasta" name="Pasta" ngModel > Pasta<br>
        <input  type="checkbox" value="PapAndWors" name="PapAndWors" ngModel > Pap and Wors<br>
        <input  type="checkbox" value="chicken" name="chicken" ngModel > Chicken sir fry<br>
        <input  type="checkbox" value="beef" name="Beef" ngModel > Beef sir fry<br>
        <input  type="checkbox" value="other" name="Other" ngModel > Other <br>
    
    <br>
    </div>
   
   </div>
   <table class="table" align="center">
        
        
        <tr class="tr">
            <th></th>
            <th>Strongly Agree(1)</th> 
            <th>Agree(2)</th>
            <th>Neutral(3)</th>
            <th>Disagree(4)</th>
            <th>Strongly Disagree(5)</th>
        </tr>
    
        <tr>
            <th>a. I like to eat out </th>
            <th><input type="radio" name="meals" value="1" ngModel> </th> 
            <th><input type="radio" name="meals" value="2" ngModel> </th>
            <th><input type="radio" name="meals" value="3" ngModel> </th>
            <th><input type="radio" name="meals" value="4" ngModel> </th>
            <th><input type="radio" name="meals" value="5" ngModel> </th>
        </tr>
    
        <tr>
            <th>b. I like to Watch Movies </th>
            <th><input type="radio" name="movie"  value="1" ngModel> </th>
            <th><input type="radio" name="movie"  value="2" ngModel> </th>
            <th><input type="radio" name="movie"  value="3" ngModel> </th>
            <th><input type="radio" name="movie"  value="4" ngModel> </th>
            <th><input type="radio" name="movie"  value="5" ngModel> </th>
        </tr>
    
        <tr>
            <th>c. I like to Watch Tv </th>
            <th><input type="radio" name="tv"   value="1" ngModel> </th>
            <th><input type="radio" name="tv"   value="2" ngModel> </th>
            <th><input type="radio" name="tv"   value="3" ngModel> </th>
            <th><input type="radio" name="tv"   value="4" ngModel> </th>
            <th><input type="radio" name="tv"   value="5" ngModel> </th>
        </tr>
    
        <tr>
            <th>d. I like to listen to radio </th>
            <th><input type="radio" name="radio" value="1" ngModel> </th>
            <th><input type="radio" name="radio" value="2" ngModel> </th>
            <th><input type="radio" name="radio" value="3" ngModel> </th>
            <th><input type="radio" name="radio" value="4" ngModel> </th>
            <th><input type="radio" name="radio" value="5" ngModel> </th>
        </tr>
    
    
    </table>


    <div  align="center">
    <br>
    <button type="submit" id="SubmitBtn" ><span>Submit Survey</span> </button>
    
    </div>
</div>

</form>
</div>
