
#body1{

  background-image: url('/assets/s1.jpg');
  background-size: cover;
  height: 1050px;
  width: 100%;
  margin-top: 0;
  padding-bottom: auto;
  color: white;
  text-align: left;
}

.content{

    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgba(36, 32, 32, 0.575);
    width: 80%;
    padding-bottom: 10%;
     
  }
  p{
      color: white;
      display: flex;
      size: 0em;
  }
  span{
      color: white;
      font-size: larger;
  }
  #btn
  {
      height: 100px;
      width: 300px;
      background-color: transparent;
      text-align: center;
      border-radius: 8%;
  
  }

  #SubmitBtn{

    height: 100px;
    width: 80%;
    background-color: rgba(194, 107, 36, 0.836);
    text-align: center;


  }

  #SubmitBtn:hover{
    color: white;
    background-color: transparent;
}

label{
    color: white;
  
    
}

#inp{
    width: 200px;
    text-align: center;
    height: 20px;
  
    
}

input{
  height: 20px;
  width: 50px;
}
  #btn:hover{
      color: rgb(202, 218, 202);
      background-color: rgb(44, 43, 41);
  }



  .row {
    display: flex;
  }
  
  .col{
    flex: 50%;
  }

.tr th{
    background-color: rgba(194, 107, 36, 0.836);
    width: auto;
    height: 55px;
}  

.table{
     background-color: rgba(128, 128, 128, 0.781);
     width: 80%;
     height: 200px;
     box-sizing: content-box;
    
     
}